<div class="jumbotron mt-4">
  <h1>{{user.first_name}} {{user.list_name}}</h1>
  <ul class="list-group">
    <li class="list-group-item">ID: {{user.id}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
    <li class="list-group-item">Phone: {{user.phone}}</li>
  </ul>
  <a href="/" class="btn btn-warning mt-3">Back</a>
</div>